/****** General ***********/
* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box; /* We take into account an eventual padding or margin so that the max-width can't exceed 1440px*/
}

a {
    color: inherit; /* inherit the font color of the parent */
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

/******* Navigation *******/
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navigation-link {
    margin-top: 10px; 
}

.navigation-link a {
    margin-left: 70px; 
}

.navigation-link a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC; 
}

.navigation-logo {
    width:61px;
    height:19px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/******* Explanation of the service *******/

.services-explanation {
    margin-bottom: 40px;
}

.services-explanation h1{
    margin-bottom: 10px;
}

/******* Search area *******/

.search-form{
    width: 377px;
    margin-bottom: 35px;
}

.search-a-service {
    display: flex;
    justify-content: flex-start;
    height: 49px;
}

.icon-position-container  {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 13%;
    border-radius: 10px 0 0 10px;
    color: black;
}

#search-field {
    border: 1px solid  #F2F2F2;
    width:52%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    
}

.btn-submit{
    border-style: none;
    border-radius: 0 15px 15px 0;
    width: 35%;
    background-color: #0065FC;
    color:white;
    font-size: 18px;
    font-weight: 700;
}

.btn-submit-mobile {
    display: none;
}

/******* Filters *******/

.filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    
}

.filters-container h2{
    margin-top: 10px;
}

.filters-container div{
    margin-left: 20px;

}

.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 100px;
    margin-top: 10px;
    width:fit-content /* The container size will be adjusted in function of the content  */;
    height: 40px;
    padding: 4px 19px;
}

.filter:hover {
    background-color: #DEEBFF; /* Filter container bg will change when mouse is above it */
}

.filter i{
    margin-right: 10px;
}

.filter p{
    font-weight: bold;
    font-size: 1.2rem;
}

/******* Search result *******/

.search-result{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.search-result-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    margin-right: 15px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; 
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-title {
    display: flex;
    justify-content: flex-start;
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 30%;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width:100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 9px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 9px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-display-more{
    margin-top: 25px;
}

/******* Activities *******/

.activites{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.activities-title{
    margin-bottom: 35px;
}
.activities-cards{
    display: flex;
}

.activities-cards a{
    width: 25%;
    margin-right: 30px;
    box-sizing: border-box;
}

.activities-cards a:last-child{
    margin-right: 0;
}

.activities-cards .card{
    padding:0;
    height: 440px;
    display: flex;
    flex-direction: column;
}

.activities-cards img{
    height: 85%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content{
    height: 15%;
    display: flex;
    align-items: center;
}

.activities-cards .card-title{
    margin-left: 15px;
    font-size: 18px;
}

/******* Footer *******/

footer {
    display: flex;
    background-color:#F2F2F2;
}

.sub-footer{
    display: flex;
    margin: 15px;
    width: 33.3%;
    flex-direction: column;
    box-sizing: border-box;
}

.sub-footer p{
    padding-top: 15px;
}


/******* Responsive code *******/


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .search-form{
        width: 400px;
    }
    
    .filters-container{
        flex-wrap: wrap;
    }
    .filters-container h2{
        width:100%;
    }

    .filters-container div{
        margin-left: 0;
        margin-right: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    
    .hebergements-cards img {
        height: 110px;
    }
    
    .hebergements-cards .card-content {
        font-size: 0.8rem;
        padding-left: 5px;
    }
    
    .hebergements-cards .card-title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .hebergements-cards .card-subtitle {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .hebergements-cards .card-rating {
        font-size: 16px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards img{
        width: 40%;
    }

    .populaires-cards .card-content{
        width: 60%
    }

    .populaires-cards .card-title {
        font-size: 14px;
        
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card-rating {
        font-size: 16px;
    }

    .activities-cards .card{
        padding:0;
        height: 270px;
        display: flex;
        flex-direction: column;
    }

    .activities-cards img{
        height: 75%;
    }

    .activities-cards .card-content{
        height: 25%;
    }

    .activities-cards .card-title{
            font-size: 16px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        max-width: 767.98px;
        padding: 0 0px;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    
    }

    .navigation-logo {
        width:95px;
        height:30px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .navigation-link{
        width: 100%;
        display: flex;   
    }

    .navigation-link a{    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 50%;
        white-space: normal;
        text-align: center;
    }

    .navigation-link a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC; 

    }

    .services-explanation{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .services-explanation h1 {
        font-size: 1.5rem;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .search-form{
        width: 100%;
    }

    .search-a-service {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
    }

    .icon-position-container  {
        width: 13%;
    }
        
    #search-field {
        width:87%;
        text-align: left;
        padding-left: 20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .btn-submit {
        display: none;
    }

    .btn-submit-mobile {
        display:inline;
        border-style: none;
        position:absolute;
        right: 0;
        border-radius: 15px;
        box-shadow: 0 5px 3px rgba(0,0,0,0.5);
        width: 15%;
        height:100%;
        background-color: #0065FC;
        color:white;
        font-size: 18px;
        font-weight: 700;
    }
   
    .filters-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
  
    .filters-container h2{
        width:100%;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .filter{
        width: 35%;
        margin-bottom: 10px;
    }

    .filter p{
        font-size: 0.9rem;
        font-weight: bold;
    }

    .search-result{
        margin-left: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section:first-child {
        background-color: white;
    }

    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }

    .hebergements {
        flex-direction: column;
        align-items: center;
    }

    .hebergements a{
        width: 100%;
    }

    .hebergements-cards .card{
        margin-top: 15px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .activities-cards a{
        width: 100%;
        height: 240px;
        margin: 10px;
        box-sizing: border-box;
    }

    .activities-cards .card{
        height: 240px;
    }
    
    .activities-cards img{
        height: 75%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .activities-cards .card-content{
        height: 25%;
        display: flex;
        align-items: center;
    }
    
    footer{
        flex-direction: column;
    }

    .sub-footer{
        width: fit-content;
        margin-top: 10px;
        box-sizing: border-box;
    }

}
